[submodule "ext/libigl"]
	path = ext/libigl
	url = git@github.com:merlinyx/libigl.git
[submodule "ext/libQEx"]
	path = ext/libQEx
	url = git@github.com:merlinyx/libQEx.git
[submodule "ext/Directional"]
	path = ext/Directional
	url = git@github.com:merlinyx/Directional.git
[submodule "ext/CoMISo"]
	path = ext/CoMISo
	url = git@github.com:merlinyx/CoMISo.git
